* {
    box-sizing: border-box;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}
.header { 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    border-bottom: #264653 solid 1px;
}
.header > div:first-of-type {margin-left: 30px;}
.header > div:first-of-type > a > img {height: 80px; margin-top:5px;}
.header > div:last-of-type{ display: flex; align-content: center; justify-content: flex-end; flex-direction: row;}
.header > div:last-child > div {padding: 15px;}
.header > div:last-child > div > a { text-decoration: none; font-size: 18px; transition: all 0.25s;}
.header > div:last-child > div > a:hover {text-shadow: #264653 1px 1px 1px;}
.header > div:last-child > div > a:visited { color:#000000; }

.banner {
    min-height: 350px;
    border-bottom: #264653 solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../media/story-banner.JPG");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size:cover;
    background-position-y: -440px;
}
.banner > div { 
    font-size: 50px;
    color: white;
    text-shadow: #000000 1px 1px 5px;
}

.story {
    padding:120px;
    border:#000000 solid 1px;
    margin:180px;
    border-radius: 10px;
    box-shadow: #264653 1px 1px 10px;
}
.story > p {
    margin:30px;
}



.footer {
    height:150px; 
    border-top: #000000 solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer > div {margin:30px;}

/* color pallete: 
264653
2a9d8f
e9c46a
f4a261
e76f51
 */
