* {
    box-sizing: border-box;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}
.header { 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    border-bottom: #000000 solid 1px;
}
.header > div:first-of-type {margin-left: 30px;}
.header > div:first-of-type > a > img {height: 80px; margin-top:5px;}
.header > div:last-of-type{ display: flex; align-content: center; justify-content: flex-end; flex-direction: row;}
.header > div:last-child > div {padding: 15px;}
.header > div:last-child > div > a { text-decoration: none; font-size: 18px; transition: all 0.25s;}
.header > div:last-child > div > a:hover {text-shadow: #888888 1px 1px 1px;}
.header > div:last-child > div > a:visited { color:#000000; }

.banner {
    min-height: 300px;
    border-bottom: #000000 solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url("../media/images.png"); */
    background-position-y: -500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: #88d3bf;
    
}
.banner > div:first-of-type { font-size: 30px; position: absolute; background-color: rgba(255,255,255, 0.6); border-radius: 10px; padding:15px;}
.banner > div:last-of-type {display: flex; flex-wrap: nowrap; width:100%;}
.banner > div:last-of-type > img {height:300px; display: block;}
.banner > div:last-of-type > img:nth-of-type(1) {width:40%;}
.banner > div:last-of-type > img:nth-of-type(2) {width:25%;}
.banner > div:last-of-type > img:nth-of-type(3) {width:35%;}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:60px 60px 0 60px;
}




.process {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:60px;
}
.process > a { 
    border: solid #000000 1px; 
    width: 30%; 
    margin: 30px; 
    height:400px;
    border-radius: 10px;
    box-shadow: #264653 1px 1px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: xx-large;
}
.process > a:visited {color: #ffffff;}
.process > a > div {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.process > a:nth-of-type(1){
    background-image: url(../media/galaxy.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-x: center;
}
.process > a:nth-of-type(2){
    background-image: url(../media/cleargems.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}.process > a:nth-of-type(3){
    background-image: url(../media/new-rainbow-fib.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: center;
}

.process-explained {
   text-align:center;
}

.process-explained > p {
    padding:60px 80px 0 80px;
    font-size: 24px;
}


.idea { display: flex; align-items: center; justify-content: center; padding: 0px 60px 0px 60px; height:1900px;}
.idea > div {border: #000000 solid 1px; margin:30px; display: flex; align-items: center;justify-content: center; flex-direction: column; padding:30px; }
.idea > div > p {line-height: 25px; padding:30px;}
.idea > div > div {width: 80%; height: 400px; border: #000000 solid 1px; display: flex; justify-content: center; align-items: center;} 
.idea > div > h3 { padding: 30px 0 0 0; text-align: center;}

#dual-pane { border: none; width: 80%; height: 300px; display: flex; justify-content: center; align-items: center;}
#dual-pane > div { width: 40%; height: 300px; margin: 15px; border:#000000 solid 1px;}
#dual-pane > div > img {
    width:100%;
    height: 100%;
    display: block;
}


.idea-gallery { display: flex; align-items: center; justify-content: center; flex-wrap: wrap; padding:60px;}
.idea-gallery > div { width: 25%; margin:30px; height:400px; border: #000000 solid 1px; }

.trial-error {
    padding:60px;
}

.trials { display: flex; align-items: center; justify-content: center; flex-wrap: wrap;}
.trials > div { width: 25%; margin:30px; height:400px; border: #000000 solid 1px; }

.footer {
    height:150px; 
    border-top: #000000 solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer > div {margin:30px;}